<div id="<%= dom_id legal_guardian %>">
  <p>
    <strong>First name:</strong>
    <%= legal_guardian.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= legal_guardian.last_name %>
  </p>

  <p>
    <strong>Middle initial:</strong>
    <%= legal_guardian.middle_initial %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= legal_guardian.date_of_birth %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= legal_guardian.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= legal_guardian.email %>
  </p>

  <p>
    <strong>Relationship:</strong>
    <%= legal_guardian.relationship_id %>
  </p>

  <p>
    <strong>Patient:</strong>
    <%= legal_guardian.patient_id %>
  </p>

</div>
