<p style="color: green"><%= notice %></p>
<div class="container">
  <div class="row mb-5">
    <div class="col">
      <h1 class="text-muted">Sexes</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-sm border border-light">
        <thead class="table-light">
        <tr>
          <th scope="col">Sex Name</th>
          <th scope="col">Active</th>
          <th scope="col">Edit</th>
        </tr>
        </thead>
        <tbody>
        <% @sexes.each do |sex| %>
          <tr>
            <td><%= sex.sex_name %></td>
            <td><%= sex.active_sex %></td>
            <td>
              <%= link_to edit_sex_path(sex) do %>
                <i class="fa-solid fa-pen"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <%= link_to "New Sex", new_sex_path, class: "btn btn-primary mt-2" %>
    </div>
  </div>
</div>
